<div class="row-fluid">
    <div class="hero-unit">
      <h1>Bounce house rentals in Michigan, the cool ones.</h1>
      <p>Search available rentals for your event below or browse all rentals.</p>
      <%= render :partial => 'partials/main_search_form' %>
    </div>
</div>
