<div class="row-fluid">
  <div class="span7 centered-span">
  <h1>Bounce house rentals in Michigan, the cool ones.</h1>
  <p>Search available rentals for your event below or browse all rentals.</p>
<%= render :partial => 'partials/main_search_form' %>

<%= render :partial => 'partials/inflatable', :collection => @inflatables %>

</div>
</div>
