$font-color: #012356;
$font-color-anchor: white;
$font-color-anchor-visited: white;

$header-background: #d24c4c;
$header-background-alpha: rgba(210,76,76, .75);
$header-background-hover: #e24c4c;

$h1-height: 18px;
$input-hero-height: 52px;
$input-hero-fontsize: 25px;

$background-color: rgba(116,155,198,1);
$background-color-alpha: rgba(116,155,198, .5);