.hero-unit{
  h1{
    font-size:30px;
  }
  form{
    text-align:center;
	margin-top:20px;
  }
  h1, h2, h3, p{
    text-align:center;
  }

  margin: 0px auto;
  float:none;
  background:none;

  input{
	font-size:16px;
	height:30px;
	padding-left:10px;
  }
}

.step2{
	display:none;
	text-align:center;
	
	#date-div > .ui-datepicker{
		margin:auto;
	}
}

.step3{
	display:none;
	text-align:center;

}

.step4{
	display:none;
}

#ui-datepicker-div{
	width:220px;
}