@import "variables";

html, body{
	height:100%;
}

footer{
	text-align:center;
	color: $font-color;
	padding: 0 10px;
	p{
		margin-bottom: 11px;
		margin-top:13px;
	}
	a{
		color: $font-color;
		&:hover{
			background-color:rgba(255,255,255,0.05);
			text-decoration:none;
		}
		&:visited{
			color: $font-color;
		}
	}
	position:relative;
	.divisor{
		margin:auto;
		text-align:center;
		height:2px;
		position:absolute;
		top:-8px;
		width:100%;
		img{
		width:50%;
		height:100%;
		}
	}
}

.wrapper{
	min-height: 100%;
	height: auto !important; /* ie7 fix */
	height: 100%;
	margin: 0 auto -43px;
}

.push{
	height: 63px; /* arbitrary space between footer and rest of content when they are close */
}

.wrapper > .container-fluid {
	padding-top: 20px;
}

.wrapper .navbar .navbar-inner .container-fluid .nav-collapse.in .nav li, .wrapper .navbar .navbar-inner .container-fluid .nav-collapse.in .nav li{
	a{
		&:hover{
			background-color:rgba(255,255,255,0.05);
			text-decoration:none;
		}
	}
}

.navbar{
	color: $font-color;
	.nav > li > a {
		color: $font-color;
	}

	a{
		color: $font-color;
		&:hover{
			background-color:rgba(255,255,255,0.05);
			text-decoration:none;
		}
		&:visited{
			color: $font-color-anchor-visited;
		}
	}

	.active{
		a, a:hover, a:visited{
			background-color: $header-background;
			color: $font-color-anchor-visited;
		}
	}
	
	.navbar-inner{
	  background: none;
	  background-color: transparent;
	  box-shadow: none;
	}
	.navbar-top-space{
		background-color: $header-background;
		height:10px;
	}
	.brand{
		width:60%;
		height:1px;
		padding:0px;
	}
	
	.btn-navbar, .btn-navbar:hover{
		background: $header-background;
		margin-bottom:-40px;
	}
	
	.dropdown-menu a:hover{
		background-color: $header-background;
	}
	
	.nav-collapse.in, .nav-collapse.collapse{
		background-color: $header-background;
		border-radius:10px;
		width:85%;
	}
	
	.nav > li > a{
		padding:20px;
		font-size:18px;
		&:hover{
			background-color: $header-background-alpha;
		}
	}
	
	.nav .active > a:hover{
		background: $header-background-hover;
	}
}

.navbar-fixed-top{
	margin-bottom:0px!important;
	position:fixed!important;
}

.logo_phone_wrapper{
	position:relative;
	display:inline-block;
	width:95%;
	height:160px;
	top:20px;
	z-index:-5;
	margin-bottom:0px;
}
.logo{
	position:absolute;
	margin-top:-20px;
	width:60%;
	max-width:413px;
	float:left;
}
.phone{
	position:relative;
	margin-top:85px;
	width:60%;
	max-width:305px;
}